/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    behaviors {
        td_br_open: td_br_open {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_BR_OPEN";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET>, <&kp LEFT_BRACE>, <&kp LESS_THAN>;
        };

        td_br_close: td_br_close {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_BR_CLOSE";
            #binding-cells = <0>;
            bindings =
                <&kp RIGHT_BRACKET>,
                <&kp RIGHT_BRACE>,
                <&kp GREATER_THAN>;
        };

        grave_and_codeblock: grave_and_codeblock {
            compatible = "zmk,behavior-hold-tap";
            label = "GRAVE_AND_CODEBLOCK";
            bindings = <&grave_codeblock>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    combos {
        compatible = "zmk,combos";

        dashdf {
            bindings = <&kp MINUS>;
            key-positions = <15 16>;
        };

        plus-er {
            bindings = <&kp PLUS>;
            key-positions = <3 4>;
            timeout-ms = <35>;
        };

        equals-cv {
            bindings = <&kp EQUAL>;
            key-positions = <27 28>;
        };

        sft-prtscr-qp {
            bindings = <&kp LS(PRINTSCREEN)>;
            key-positions = <1 10>;
        };

        prtscr-zp {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <25 10>;
        };

        toggle_num_escalt {
            bindings = <&tog 4>;
            key-positions = <0 12>;
        };

        Grave {
            bindings = <&grave_and_codeblock 0 GRAVE>;
            key-positions = <1 2>;
        };

        Tilde {
            bindings = <&kp TILDE>;
            key-positions = <13 14>;
        };

        Pipe {
            bindings = <&kp PIPE>;
            key-positions = <22 21>;
        };

        Backslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <33 34>;
        };

        Underscore {
            bindings = <&kp UNDERSCORE>;
            key-positions = <16 17>;
        };
    };

    macros {
        grave_codeblock: grave_codeblock {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp GRAVE &kp GRAVE>;
            label = "GRAVE_CODEBLOCK";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE  &kp Q  &kp W  &kp E      &kp R           &kp T        &kp Y            &kp U      &kp I       &kp O    &kp P     &kp DELETE
&sk LALT    &kp A  &kp S  &lt 5 D    &lt 4 F         &kp G        &kp H            &kp J      &kp K       &kp L    &kp SEMI  &kp SQT
&sk LSHIFT  &kp Z  &kp X  &kp C      &kp V           &kp B        &kp N            &lt 6 M    &kp COMMA   &kp DOT  &kp FSLH  &sl 3
                          &kp LCTRL  &mt LGUI ENTER  &lt 1 TAB    &lt 2 BACKSPACE  &kp SPACE  &kp RSHIFT
            >;

            label = "Base";
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp EXCLAMATION  &kp AT_SIGN   &kp HASH      &kp DOLLAR    &kp PERCENT     &kp CARET      &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp BSPC
&trans  &kp NUMBER_1     &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &kp NUMBER_6   &kp NUMBER_7   &kp NUMBER_8  &kp NUMBER_9          &kp NUMBER_0           &trans
&trans  &trans           &trans        &kp TILDE     &kp GRAVE     &trans          &kp LC(SPACE)  &td_br_open    &td_br_close  &trans                &trans                 &trans
                                       &trans        &trans        &kp SPACE       &kp F12        &trans         &kp COLON
            >;

            label = "Lower";
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp DELETE     &trans            &kp MINUS      &kp PLUS       &kp PG_UP        &trans            &trans    &trans    &kp BACKSLASH      &kp PIPE         &trans
&trans  &kp HOME       &kp END           &kp UNDER      &kp EQUAL      &kp PAGE_DOWN    &kp LEFT          &kp DOWN  &kp UP    &kp RIGHT          &trans           &trans
&trans  &kp LESS_THAN  &kp GREATER_THAN  &kp LC(LS(C))  &kp LC(LS(V))  &kp SEMICOLON    &kp K_PLAY_PAUSE  &trans    &trans    &kp K_VOLUME_DOWN  &kp K_VOLUME_UP  &trans
                                         &kp LC(ENTER)  &trans         &kp ESCAPE       &trans            &trans    &kp RALT
            >;

            label = "Raise";
        };

        function_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&bt BT_CLR  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5          &kp F6             &kp F7  &kp F8    &kp F9  &kp F10  &trans
&trans      &kp F11       &kp F12       &trans        &trans        &trans          &ext_power EP_TOG  &trans  &trans    &trans  &trans   &trans
&trans      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans             &trans  &trans    &trans  &trans   &trans
                                        &trans        &trans        &trans          &trans             &trans  &kp RALT
            >;

            label = "Function";
        };

        numpad_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &kp PLUS   &kp N7  &kp N8  &kp N9  &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp MINUS  &kp N4  &kp N5  &kp N6  &kp KP_ENTER  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp EQUAL  &kp N1  &kp N2  &kp N3  &kp PERIOD    &trans
                        &trans  &trans  &trans    &trans     &trans  &kp N0
            >;

            label = "Numpad";
        };

        browser_layer {
            bindings = <
&none  &none  &none  &none  &none  &none    &none            &none      &none      &none        &none  &none
&none  &none  &none  &none  &none  &none    &kp LC(LS(TAB))  &kp DOWN   &kp UP     &kp LC(TAB)  &none  &none
&none  &none  &none  &none  &none  &none    &none            &kp LA(J)  &kp LA(K)  &none        &none  &none
                     &none  &none  &none    &none            &none      &none
            >;

            label = "Browser";
        };

        mouse_layer {
            bindings = <
&none  &none  &mwh SCROLL_UP  &mmv MOVE_UP    &mwh SCROLL_DOWN  &none        &none  &none  &none  &none  &none  &none
&none  &none  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT   &none        &none  &none  &none  &none  &none  &none
&none  &none  &none           &none           &none             &none        &none  &none  &none  &none  &none  &none
                              &mkp RCLK       &mkp MCLK         &mkp LCLK    &none  &none  &none
            >;

            label = "Mouse";
        };
    };
};

&lt {
    quick-tap-ms = <175>;
    tapping-term-ms = <230>;
    flavor = "balanced";
};
